<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<listeners>
    	<listener class-name="com.selenium.listeners.ListnerClass" />
    	<listener class-name="com.selenium.listeners.MethodInterceptor" />
    	<listener class-name="com.selenium.listeners.AnnotationTransformer" />
    	<listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>
  <test thread-count="1" name="Test" parallel="methods">
    <classes>
      <class name="com.selenium.AccountManagerLoginPageTest"/>
      <class name="com.selenium.AdminConsolePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

<!-- When we are giveing thred count as 2,that time its trying to access chrome from class Driver and driver is static var.
	thats why we are getting error while exec. cases paralley-->
